<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>Login</ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-input placeholder="Username" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="auth()" [disabled]="loginForm.invalid">Log in</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
