.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  & > ion-card {
    max-width: 300px;
  }
  background-image: url('../../assets/fondo.jpg');
  background-size: cover;
  background-position: center center;
}

.text {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: #000000b0;
}

.back {
}
