<ion-header translucent>
  <ion-toolbar>
    <ion-title>Crear reunión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="modal-container">
    <form [formGroup]="createMeetingForm">
      <ion-item>
        <input type="file" id="file"class="" formControlName="file">
      </ion-item>
      <ion-item>
        <ion-input placeholder="Title" type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Description" type="text" formControlName="description"></ion-input>
      </ion-item>
      <ion-button expand="full" [disabled]="createMeetingForm.invalid" (click)="createMeeting()">Crear</ion-button>
    </form>
  </div>
</ion-content>